extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='/javascripts/query.js')
  h4.status
  h1= title
  .container
    form(id="twitterForm")
      span.label Query
      input(type="text", id="query")
      div
        input(type='checkbox', id='dbOnly')
        |  Query database only
      div
        input(type="submit" value="get tweets")
    div(id="result")
