extends layout

block content
  script(src='/javascripts/query.js')
  link(href='/stylesheets/index.css', rel='stylesheet')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Social Tracker

  body
    .modal.fade.team-description(tabindex='-1', role='dialog')
      .modal-dialog.modal-sm(style="width: 61%; height: 454px;")
        .modal-content(style="height: 100%; opacity: 0.9;")
          button.close(type='button', data-dismiss='modal') ×
          | Description
          hr(style="margin: 5px 0;")
          .modal-desc(style="opacity: 1; padding: 20px 30px; text-align: justify; height: 360px; overflow: auto; font-family: GothamLight; font-size: 15px;")
    .modal.fade.team-stadium(tabindex='-1', role='dialog')
      .modal-dialog.modal-sm(style="width: 61%; height: 454px;")
        .modal-content(style="height: 100%; opacity: 0.9;")
          button.close(type='button', data-dismiss='modal') ×
          | Stadium
          hr(style="margin: 5px 0;")
          .modal-stadium(style="opacity: 1; padding: 20px 30px; text-align: justify; height: 360px; overflow: auto; font-family: GothamLight; font-size: 15px;")
    .modal.fade.team-players(tabindex='-1', role='dialog')
      .modal-dialog.modal-sm(style="width: 61%; height: 454px;")
        .modal-content(style="height: 100%; opacity: 0.9;")
          button.close(type='button', data-dismiss='modal') ×
          | Manager and Players
          hr(style="margin: 5px 0;")
          .modal-players(style="opacity: 1; padding: 20px 15px; text-align: justify; height: 360px; overflow: auto; font-family: GothamLight; font-size: 18px;")
    .status-wrap
      .status
    ul.nav.nav-tabs
      li.active
        a(href='#search', data-toggle='tab')
          span.i.fa.fa-search(aria-hidden='true')
      li
        a(href='#tweets', data-toggle='tab')
          span.i.fa.fa-at(aria-hidden='true')
      li
        a(href='#location', data-toggle='tab')
          span.i.fa.fa-location-arrow(aria-hidden='true')
      li
        a(href='#users', data-toggle='tab')
          span.i.fa.fa-user(aria-hidden='true')
      li
        a(href='#words', data-toggle='tab')
          span.i.fa.fa-pencil(aria-hidden='true')
      li
        a(href='#research-tool', data-toggle='tab')
          span.i.fa.fa-futbol-o(aria-hidden='true')

    .container-fluid
      .row.target
        .tab-content
          #search.tab-pane.active
            #overlay
              i.fa-li.fa.fa-spinner.fa-spin
              .img-wrap(style="background-image: url('../img/search.jpg');")
              div.main-wrap
                .main-title
                  | The Social Tracker
                  img.twitter(src='/img/twitter.svg', alt='Twitter')
                form(id="twitterForm").text-center
                  input(type='text', placeholder="author: @manutd OR mention: @arsenal OR #PremierLeague OR 'keyword'"  id='query')
                  button.submit(type='submit') GO
                hr.search
              .row
                .col-xs-12
                  .checkbox-wrap
                    .roundedTwo
                      input#roundedTwo(type='checkbox', value='db_only', name='dbOnly')
                      label(for='roundedTwo')
                    .Label
                      p#Label(style="margin: 1px 2px;")
                        | Query database only
          #tweets.tab-pane
            .img-wrap(style="background-image: url('../img/results.jpg'); height: 200px; background-position: center center;")
            div.main-wrap
              .main-title
                | Retrieved tweets
              hr
              #result(style="padding: 5px 30px;")
                #result-tweets(style="padding-right: 10px;") Tweets will show up here once you perform a search.
          #location.tab-pane
            .img-wrap(style="background-image: url('../img/location.jpg'); height: 200px; background-position: center center;")
            div.main-wrap
              .main-title
                | Tweets location
              hr
              #location-result(style="padding: 5px 35px; height: 162px;")
          #users.tab-pane
            .img-wrap(style="background-image: url('../img/users.jpg'); height: 200px; background-position: center center;")
            div.main-wrap
              .main-title
                | Most active users
              hr
              #user-result(style="padding: 5px 30px;") Top users will show up here once you perform a search.
          #words.tab-pane
            .img-wrap(style="background-image: url('../img/words.jpg'); height: 200px; background-position: center center;")
            div.main-wrap
              .main-title
                | Most used words
              hr
              #word-result(style="padding: 5px 30px;") Top words will show up here once you perform a search.
          #research-tool.tab-pane
            #search-overlay
              i.fa-li.fa.fa-spinner.fa-spin
              .img-wrap#research-img(style="background-image: url('../img/research.png');")
                .research-title Manchester United
              div.main-wrap
                .main-title-research
                  | Research Tool
                .search-wrap(style="margin: 20px 0;")
                  form(id="searchForm").text-center
                    input(type='text', placeholder="Manchester United" id='searchquery')
                    button.submit(type='submit') GO
                  hr.search
                hr.research-hr
                .row.buttonRow
                  .col-sm-4
                    button.btn.btn-default(data-toggle="modal" data-target=".team-description") Description
                  .col-sm-4
                    button.btn.btn-default(data-toggle="modal" data-target=".team-players") Team
                  .col-sm-4
                    button.btn.btn-default(data-toggle="modal" data-target=".team-stadium") Stadium
    script.
      var map;
      function initMap() {
        var darktheme = new google.maps.StyledMapType([
            {
                "featureType": "all",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "invert_lightness": true
                    },
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#464646"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 29
                    },
                    {
                        "weight": 0.2
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 18
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 17
                    }
                ]
            }
        ])
        map = new google.maps.Map(document.getElementById('location-result'), {
          center: {lat: 55.37911, lng: -4.570312},
          zoom: 2,
          disableDefaultUI: true,
          mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'darktheme']
          }
        });
        map.mapTypes.set('darktheme', darktheme);
        map.setMapTypeId('darktheme');
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRJZEUbENOOTQpMTx3R3hWf30-i8g7fg&callback=initMap' async defer)
    script.
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        google.maps.event.trigger(map, 'resize');
      });
    script.
      $("#twitterForm").submit(function(event) {

        event.preventDefault();

        $("#overlay").addClass("dimmed");
        $("#search-overlay .fa-li").toggle();

        var params = getQueryData();
        $.ajax({
          type: 'POST',
          data: JSON.stringify(params),
          contentType: 'application/json',
          url: 'http://localhost:3000/',
          success: function(data) {
            console.log('success');

            $('#query').val("");

            renderStatus(data[0]);
            if(params.query != -1) {
              renderTweets(data[1]);
              renderWords(data[2]);
              renderUsers(data[3]);
              renderLocations(data[4]);
            }
            //console.log(data);
          },
          complete: function() {
            $("#overlay").removeClass("dimmed");
            $("#search-overlay .fa-li").toggle();
          }
        });
      });
    script.
      $("#searchForm").submit(function(event) {

        event.preventDefault();

        $("#search-overlay").addClass("dimmed");
        $(".fa-li").toggle();

        var query = $('#searchquery').val();
        //console.log(query);
        var params = {query: query, research: true};

        $.ajax({
          type: 'POST',
          data: JSON.stringify(params),
          contentType: 'application/json',
          url: 'http://localhost:3000/research',
          success: function(data) {
            console.log('success');

            $('#query').val("");
            if(data.clubname) {
              renderTeam(data);
              $('#research-img').css('background-image','url(img/team.png)');
            } else {
              renderStatus(data);
            }
          },
          complete: function() {
            $("#search-overlay").removeClass("dimmed");
            $(".fa-li").toggle();
          }
        });

      });
