doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Social Tracker
    // Bootstrap
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/index.css', rel='stylesheet')
    link(href='/stylesheet/location.css', rel='stylesheet')
    link(href='/stylesheet/retrievals.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    .container-fluid
      .row
        // <div class="col-sm-6 col-md-4">
        .thumbnail
          img.locations(src='./img/img06.jpg', alt='Locations')
          .caption
            h3 Retrievals 
            hr.hr2
            // <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            .form-group
              textarea#comment.form-control(readonly='', rows='5')
        // </div>
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascripts/bootstrap.min.js')
  footer
    .navbar.navbar-inverse.navbar-fixed-bottom
      .container
        #nav-wrapper.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='index.html')
                i.fa.fa-home
            li
              a(href='#')
                img.oval(src='/img/oval.svg', alt='Oval')
            li
              a(href='users.html')
                i.fa.fa-user
            li
              a(href='#')
                img.oval(src='/img/oval.svg', alt='Oval')
            li
              a(href='location.html')
                i.fa.fa-location-arrow
            li
              a(href='#')
                img.oval(src='/img/oval.svg', alt='Oval')
            li
              a(href='words.html')
                i.fa.fa-pencil
            li
              a(href='#')
                img.oval(src='/img/oval.svg', alt='Oval')
            li
              a(href='retrievals.html')
                i.fa.fa-at

